/*-- GENERAL TAGS --*/
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    color: white;
    font-family: 'Product Sans', 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

a,
a:hover,
a:visited {
    color: white;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

/*-- MAIN TAGS --*/
main {
    text-align: center;

    .iam {
        cursor: default;
        padding: 5px;
        opacity: 0;
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: .5s;
        animation-delay: .2s;

        .photo {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            background-image: url(/assets/img/photomin.jpg);
            text-align: center;
            object-fit: cover;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
            cursor: default;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .3);
        }

        h1 {
            font-size: 2.8em;
            margin-top: 10px;
        }

        h3 {
            color: #999;
            font-weight: 400;
        }
    }

    .social {
        margin: 1.5em 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        opacity: 0;
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: .5s;
        animation-delay: .5s;

        .flex {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .link {
            display: flex;
            align-items: center;
            color: #303030;
            text-decoration: none;
            width: 170px;
            height: 40px;
            margin: 0 2.5px;
        }

        .link-icon {
            width: 40px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 1.3em;
            background-color: rgba(0, 0, 0, .3);
            border-radius: 2px 0 0 2px;
        }

        .link-title {
            width: 130px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, .15);
            color: #eee;
            font-size: 1.05em;
            font-style: normal;
            font-weight: 600;
            transition: all .3s;
            border-radius: 0 2px 2px 0;

            &:hover {
                background-color: rgba(0, 0, 0, .3);
            }
        }
    }
}

/*-- MOBILE OPTIMIZATIONS --*/
@media screen and (max-width: 710px) {
    main .social {
        flex-direction: column;

        .margin {
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 360px) {
    main .social .link {
        width: 150px;
    }

    main .social .link-title {
        font-size: .95em;
    }
}

@media screen and (orientation: landscape) and (max-width: 500px) {
    .photo {
        display: none;
    }
}

/*-- ANIMATIONS TAGS --*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}