/*-- VAR --*/

$wh-icons: 50px;

/*-- GENERAL TAGS --*/
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-family: 'Ubuntu', 'Roboto', Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

a,
a:hover,
a:visited {
    color: white;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

/*-- MAIN TAGS --*/
main {
    text-align: center;

    .iam {
        cursor: default;
        padding: 0 10px;
        opacity: 0;
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: .5s;
        animation-delay: .2s;

        h1.title {
            font-size: 5em;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }

    .social {
        margin: 1.5em auto 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        opacity: 0;
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: .5s;
        animation-delay: .5s;
    }

    .link {
        display: flex;

        .link-icon {
            width: $wh-icons;
            height: $wh-icons;
            line-height: $wh-icons;
            background-color: rgba(15, 15, 15, 1);
            color: #eee;
            font-size: 1.5em;
            font-weight: 600;
            transition: all .3s;

            &:hover {
                background-color: rgba(10, 10, 10, 1);
            }
        }

        .link-icon {
            margin: 0 3px;
            border-radius: 4px;
        }
    }
}

/*-- ANIMATIONS TAGS --*/
@media screen and (max-width: 900px) {
    main {
        .iam {
            h1.title {
                font-size: 3em;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}